In [ ]:
#Importación de librerias
import pandas as pd
import numpy as np
import matplotlib as mp

In [3]:
# Crear una lista
edad = [30, 40, 50]

In [4]:
serie = pd.Series(edad)

In [8]:
serie

0    30
1    40
2    50
dtype: int64

In [9]:
serie [1]

40

In [10]:
serie =pd.Series(edad, index = ["Alex", "John", "María"])

In [11]:
serie['Alex']

30

## Ejemplo 2

In [12]:
naranjas = pd.Series([1,4, 9, 2, 6, 10, 200])
print(naranjas)

0      1
1      4
2      9
3      2
4      6
5     10
6    200
dtype: int64

In [13]:
type(naranjas)

pandas.core.series.Series

In [14]:
naranjas = pd.Series([1,4,9,2,6,10,200], index = ["Marco", "Ana", "Juan", "Pedro", "Estela", "Iván", "Luis"])
print(naranjas)

Marco       1
Ana         4
Juan        9
Pedro       2
Estela      6
Iván       10
Luis      200
dtype: int64