# Limpieza y transformación de datos

In [ ]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as pit

In [ ]:
salaries = pd.read_csv('datasets/linkedin-jobs-usa.csv')

In [ ]:
salaries.info()

## Tratamiento de duplicados

In [ ]:
salaries.drop_duplicates()

In [ ]:
salaries_limpieza = salaries_limpieza.drop.duplicate

In [ ]:
salaries_limpieza = salaries.copy

In [ ]:
salaries_limpieza.duplicated().sum()

In [ ]:
salaries_limpieza[salaries_limpieza.duplicated()]

## 1era Opción: Eliminar los valores nulos
### Visualizar los valores nulos

In [ ]:
df_sin_nulos = salaries.dropna()

In [ ]:
df_sin_nulos = salaries.dropna()
salaries_limpieza.isna()

In [ ]:
print(f"Valores NaN por columna {salaries_limpieza.Isna().sum}")

In [ ]:
df_sin_nulos = salaries.dropna()
df_sin_nulos_columnas = salaries.droopna(axis=1)

In [ ]:
df_sin_nulos['salaries'].head()
df_sin_nulos.shape

In [32]:
import datetime

b = [1,2,3]
b?

Type:        list
String form: [1, 2, 3]
Length:      3
Docstring:
Built-in mutable sequence.

If no argument is given, the constructor creates a new empty list.
The argument must be an iterable if specified.

In [33]:
print?

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [34]:
np.*load*?

np.__loader__
np.load
np.loadtxt