## Operaciones numéricas

### Objetivos:

- Mostrar como utilizar los operadores aritméticos

### Desarrollo

Primero vamos a asignar unas variables

In [ ]:
var_1 = 3
var_2 = 54
var_3 = 23
var_4 = 89

3 54 23 89

In [ ]:
print(var_1, var_2, var_3, var_4, sep='-')
print(var_1, var_2, var_3, var_4, end=' ')

print('El valor de la variable var_1: '+str(var_1))

3-54-23-89
3 54 23 89 El valor de la variable var_1:3

In [13]:
var_1 + var_2
var_2 - var_4
var_3 * var_2
var_4 // var_2

1

Operaciones numéricas
---
| Operador | Nombre                  | Descripción                                 | Ejemplo        | Resultado |
|----------|-------------------------|---------------------------------------------|----------------|-----------|
| `+`      | Suma                    | Suma de dos operandos                        | `5 + 3`        | `8`       |
| `-`      | Resta                   | Resta del segundo operando al primero        | `5 - 3`        | `2`       |
| `*`      | Multiplicación          | Producto de dos operandos                    | `5 * 3`        | `15`      |
| `/`      | División                | División del primero entre el segundo       | `5 / 2`        | `2.5`     |
| `//`     | División entera         | División y redondeo hacia abajo             | `5 // 2`       | `2`       |
| `%`      | Módulo (residuo)        | Residuo de la división                      | `5 % 2`        | `1`       |
| `**`     | Exponente               | Potencia del primer operando al segundo     | `2 ** 3`       | `8`       |

1/2

In [15]:
var_2 ** var_1

157464

In [16]:
var_1 % var_2

3

In [18]:
print(var_1+var_2)
print(var_1*var_2)
print(var_1**var_2)

57
162
58149737003040059690390169

Tambien se puede asignar los resultados de las operaciones a otras variables

In [19]:
resultado = var_1 + var_2 
resultado

57

## Tipos de datos

### Objetivos

- Hablar sobre los 4 tipos de datos básicos que tiene Python 

--- 

### Desarrollo

Se tienen 4 tipos de datos básicos. Veamos en código y utilicemos las funciones print 
`print` y `type` para imprimir los tipos de manera explícita

In [ ]:
# Este es un numero
var_int = 4598
print(type(var_int))


# Este es un numero decimal
var_float = 369.432
print(var_float)
print(type(var_float))

# Este es un string
var_string = "Yo soy un string"
print(var_string)
print(type(var_string))


var_bool = True
print(type(var_bool))

var_bool = True
print(type(var_bool))

<class 'int'>
369.432
<class 'float'>
Yo soy un string
<class 'str'>
<class 'bool'>