# Operaciones con Listas

## Copiar una lista a otra

In [ ]:
lista_1 =[1]
lista_2 = lista_1

print(f"Lista 1: {lista_1} Lista 2: {lista_2}")´{}

In [3]:
    # Dada ña lista [10, 8, 6, 4, 2] eliminar el numero 8 y 6
lista_3 = [10,8,6,4,2]
del lista_3[1:3]
lista_3

[10, 4, 2]

### `Pop` remueve el último elemento de la lista si se llama sin argumentos

In [6]:
lista_3.pop() 
lista_3

[10]

In [7]:
lista_3.append(7)
lista_3.append(5)
lista_3.append(9)
lista_3.append(11)

In [8]:
lista_3

[10, 7, 5, 9, 11]

In [11]:
lista_3.pop(1)

lista_3

[10, 5, 9, 11, 5]

In [12]:
list_example = ["a", 12, True]
list_example

['a', 12, True]

In [ ]:
print(list_example)
print(type(list_example))

['a', 12, True]
<class 'list'>

In [ ]:
# Lista de listas
list_house = [["hallway", 100], ["kitchen", 85]]
print(list_house)
print(type(list_house))

[['hallway, 100'], ['kitchen', 85]]
<class 'list'>

In [20]:
list_house[1][1]

85

In [21]:
# Tiene acceso a la lista en la posición 0 y su elemento en la pposición 1
list_house[1][0]

'kitchen'

In [22]:
list_family = ["heidy", "Ines", 54, "Henry", "Oscar", 38]
print(list_family)

['heidy', 'Ines', 54, 'Henry', 'Oscar', 38]

In [24]:
print(list_family[-5])
print(list_family[1])

Ines
Ines

In [ ]:
# Slicing [start: end]
#       inclusive: exclusive

print(list_family[3:5]) # No toma el último dígito
print(list_family[:5]) 
print(list_family[5:]) # Desde la posición 5 hasta el final

['Henry', 'Oscar']
['heidy', 'Ines', 54, 'Henry', 'Oscar']
[38]

### **Manipulando listas**

In [ ]:
print(list_family)
list_family[-1] = 37
print(list_family)

list_family[:2] = ["Mayumy", 24, True]
print(list_family)

['heidy', 'Ines', 54, 'Henry', 'Oscar', 37]
['heidy', 'Ines', 54, 'Henry', 'Oscar', 37]
['Mayumi', 24, 54, 'Henry', 'Oscar', 37]

In [33]:
# Agregar y remover elementos de la lista

familia_extendida = list_family + ["Achuchena", 12]
print(familia_extendida)

# Eliminar de la lista el 54 que está después de Inés
del familia_extendida[2]

# Eliminat
# del(familia_extendida[3])
# familia_extendida.pop(3)
# familia_extendida.remove(54)

['Mayumi', 24, 54, 'Henry', 'Oscar', 37, 'Achuchena', 12]

In [ ]:
# Ejercicio - Eliminar 'poolhouse' y 24.5
areas = ["hallway", 11.25, "kitchen", 18.0, "chil zone", 20.0, "bedroom", 10.75, "bathroom", 10.50, "poolhouse", 24.5, "garage", 15.45]

areas.remove("poolhouse")
areas.remove(24.5)
print(areas)

print(areas[-4:-2])

['hallway', 11.25, 'kitchen', 18.0, 'chil zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'garage', 15.45]

# **Funciones y Paquetes**

## **Función**
Es una pieza de código reutilizable, destinada a resolver una tarea en particular

In [39]:
lis_fam = [22, 54, 33, 38, 36]
print(lis_fam)
print(f"El tamaño de la lista es {len(lis_fam)}")
print(f"El valor máximo del la lista es {max(lis_fam)}")
round(1.689, 2)
help(round)

[22, 54, 33, 38, 36]
El tamaño de la lista es 5
El valor máximo del la lista es 54
Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [42]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [48]:
first = [51.25, 18.0, 20.0]
full_sorted = sorted(first)
full_sorted_asc= sorted(first, reverse=False)
full_sorted_desc= sorted(first, reverse=True)

print(full_sorted_asc)
print(full_sorted_desc)

[18.0, 20.0, 51.25]
[51.25, 20.0, 18.0]

### **Métodos**
En Python todo es objeto. Y cada objeto tiene métodos específicos asociados
    
    - Objetos con diferentes tipos pueden tener métodos con el mismo nombre

In [52]:
lis_fam = ["heidy", 22, "inés", 54, "henry", 33, "oscar", 54]

print(f"indice: {lis_fam.index('henry')}") #Obtiene el índice de la lista 
print(f"Contar: {lis_fam.count(54)}")

indice: 4
Contar: 2

In [53]:
del(lis_fam[lis_fam.index('henry')])
print(lis_fam)

['heidy', 22, 'inés', 54, 33, 'oscar', 54]

In [54]:
name = "mayumi"

print(name.capitalize())

Mayumi

In [ ]:
lista_emtornos = ["susel", "brandon", "alejandro", "gabriel"]
# print(lista_emtornos[0].capitalize)
print(name.replace('y', '*'))

<built-in method capitalize of str object at 0x000001E9D6139CB0>
ma*umi

In [57]:
name.upper()

'MAYUMI'

In [58]:
print(lis_fam)
lis_fam.reverse()
print(lis_fam)

['heidy', 22, 'inés', 54, 33, 'oscar', 54]
[54, 'oscar', 33, 54, 'inés', 22, 'heidy']